<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
    <title>Document</title>
</head>

<body>

    <div style="padding: 20px;">
        <h3>Member.insert</h3>
        <hr />
        <a th:href="@{/member/home}">회원 홈</a>
        <br />
        <br />
        <form th:action="@{/member/insert}" method="post">


            <div style="display: inline-block; width: 750px;">

                <!-- 아이디 -->
                <div class="input-group mb-3">
                    <span class="input-group-text" style="width: 100px;" id="basic-addon1">아이디</span>
                    <input type="text" class="form-control" placeholder="Username" aria-label="UserID"
                        style="display: inline-block; width: 500px;" name="Mid"><br>
                </div>
                <!-- 암호 -->
                <div class="input-group mb-3">
                    <span class="input-group-text" style="width: 100px;" id="basic-addon1">암호</span>
                    <input type="password" class="form-control" placeholder="UserPassword" aria-label="UserPassword"
                        style="display: inline-block; width: 500px;" name="Mpw"><br>
                </div>
                <!-- 이름 -->
                <div class="input-group mb-3">
                    <span class="input-group-text" style="width: 100px;" id="basic-addon1">이름</span>
                    <input type="text" class="form-control" placeholder="UserName" aria-label="UserName"
                        style="display: inline-block; width: 500px;" name="Mname"><br>
                </div>
                <!-- 이메일 -->
                <div class="input-group mb-3">
                    <span class="input-group-text" style="width: 100px;" id="basic-addon1">이메일</span>
                    <input type="text" class="form-control" placeholder="UserEmail" aria-label="UserEmail"
                        style="display: inline-block; width: 500px;" name="Memail"><br>
                </div>
                <!-- 연락처 -->
                <div class="input-group mb-3">
                    <span class="input-group-text" style="width: 100px;" id="basic-addon1">연락처</span>
                    <input type="text" class="form-control" placeholder="UserPhone" aria-label="UserPhone"
                        style="display: inline-block; width: 500px;" name="Mphone"><br>
                </div>
                <!-- 주소 -->
                <div class="input-group mb-3">
                    <span class="input-group-text" style="width: 100px;" id="basic-addon1">주소</span>
                    <input type="text" class="form-control" placeholder="UserAddr" aria-label="UserAddr"
                        style="display: inline-block; width: 500px;" name="Maddr"><br>
                </div>
                <!-- 닉네임 -->
                <div class="input-group mb-3">
                    <span class="input-group-text" style="width: 100px;" id="basic-addon1">닉네임</span>
                    <input type="text" class="form-control" placeholder="UserNickname" aria-label="UserNickname"
                        style="display: inline-block; width: 500px;" name="Mnickname"><br>
                </div>
                <!-- 관심 장르 -->
                <span class="input-group-text" style="width: 100px;" id="basic-addon1">관심장르</span>
                <div class="form-check form-check-inline" th:each="tmp:${category}">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" th:value="${tmp.Ccode}"
                        name="categoryCode">
                    <label class="form-check-label" style="width: 100px; height: 50px;" for="inlineCheckbox1"
                        th:text="${tmp.Ccategory}"></label>
                </div>
                <!-- 성별 -->
                <div class="input-group mb-3">
                    <span class="input-group-text" style="width: 100px;" id="basic-addon1">성별</span>
                    <div class="form-floating">
                        <select class="form-select" name="Mgender" id="floatingSelect"
                            style="display: inline-block; width: 200px;">

                            <option value="male">남성</option>
                            <option value="female">여성</option>
                        </select>
                        <label for="floatingSelect">성별을 선택해 주세요</label>
                    </div>
                </div>
                <!-- 생년월일 -->
                <div class="input-group mb-3">
                    <span class="input-group-text" style="width: 100px;" id="basic-addon1">생년월일</span>
                    <!-- 년 -->
                    <div class="form-floating">
                        <select class="form-select" name="year" id="year" style="display: inline-block; width: 200px;">
                            <option th:each="tmp:${#numbers.sequence(1922,2022)}" th:text="${tmp}" th:value="${tmp}">
                            </option>
                        </select>
                        <label for="year">년</label>
                    </div>
                    <!-- 월 -->
                    <div class="form-floating">
                        <select class="form-select" name="month" id="month"
                            style="display: inline-block; width: 200px;">
                            <option th:each="tmp:${#numbers.sequence(1,12)}" th:text="${tmp}" th:value="${tmp}">
                            </option>
                        </select>
                        <label for="month">월</label>
                    </div>
                    <!-- 일 -->
                    <div class="form-floating">
                        <select class="form-select" name="day" id="day" style="display: inline-block; width: 200px;">
                            <option th:each="tmp:${#numbers.sequence(1,31)}" th:text="${tmp}" th:value="${tmp}">
                            </option>
                        </select>
                        <label for="day">일</label>
                    </div>
                </div>

                <!-- 권한 -->
                <div class="input-group mb-3">
                    <span class="input-group-text" style="width: 100px;" id="basic-addon1">권한</span>
                    <div class="form-floating">
                        <select class="form-select" name="Mrole" id="floatingSelect"
                            style="display: inline-block; width: 200px;">
                            <option value="customer">회원</option>
                            <option value="admin">관리자</option>
                        </select>
                        <label for="floatingSelect">권한을 선택해 주세요</label>
                    </div>
                </div>

                <input type="submit" value="회원등록" />
            </div>
        </form>


    </div>
</body>

</html>